# Dockerfile
README.md
credentials/
.git


# from the python side of the app
*.pyc
*.pyo
*.pyd
__pycache__


# from the node part of the app
# dependencies
Frontend/node_modules
Frontend/yarn.lock
Frontend/yarn-error.log

# testing
Frontend/coverage

# production
Frontend/build
